<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
</head>
<body>


	<section>
		<div class="container">

			<div class="row">
				<div ng-app="myApp" ng-controller="myCtrl" style="col align-self-center">
					<div>
					<li class="list-group-item list-group-item-primary" style="display: inline-block;">PRICE-1</li> <li class="list-group-item list-group-item-primary" style="display: inline-block;"><input type="number" ng-model="c" /></li>
				</div>
				<div>
					<li class="list-group-item list-group-item-primary" style="display: inline-block;">PRICE-2</li> <li class="list-group-item list-group-item-primary" style="display: inline-block;"><input type="number" ng-model="d" /></li>
				</div>
				<div>
					<li class="list-group-item list-group-item-primary" style="display: inline-block;">TAX-1</li> <li class="list-group-item list-group-item-primary" style="display: inline-block;"><input type="number" ng-model="a" /></li>
				</div>
				<div>
					<li class="list-group-item list-group-item-primary" style="display: inline-block;">TAX-2</li> <li class="list-group-item list-group-item-primary" style="display: inline-block;"><input type="number" ng-model="b" /></li>
				</div>
					<button id="minus" ng-click="add()">Add</button>
					<p style="display: inline-block;">Sum of price: <li class="list-group-item list-group-item-primary" style="display: inline-block;">{{ sum2 }}</li></p>
					<p style="display: inline-block;">Sum of tax: <li class="list-group-item list-group-item-primary" style="display: inline-block;">{{ sum1 }}</li></p>
				</div>
			</div>
		</div>
	</section>


	




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.add = function() {     
				var c = Number($scope.c || 0);
				var d = Number($scope.d || 0);
				var a = Number($scope.a || 0);
				var b = Number($scope.b || 0);
				$scope.sum2 =  c+d;
				$scope.sum1 = a+b;

			}
		});

	</script>

</body>
</html>